.centeredContainer {
  background-color: var(--color-background);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredText {
  font-size: 32px;
  color: var(--color-text);
}
