.header {
  width: 100%;
  height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  background: #fff;
  background-color: #e1af74;
}

.heading {
  color: #522e02;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
}

.buttons {
  display: flex;
  gap: 8px;
}

.headerTooltip {
  left: -25px;
}

.rotatedIcon {
  display: inline-block;
  transform: rotate(90deg);
}
