.chatList {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card);
  transition: width 0.3s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
}

.chatListDesktop {
  width: 300px;
  flex-shrink: 0; /* Prevent shrinking */
  height: 100%;
}

.chatListMobile {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1001; /* Higher than container */
  height: 100%;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.list::-webkit-scrollbar {
  display: none;
}

.placeholder {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}
