.compose {
  width: 100%;
  height: 70px;
  min-height: 70px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  background-color: #48331c;
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 20px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #6c4a2b;
  font-size: 22px;
  gap: 8px;
  font-family: inherit;
  line-height: inherit;
  /* https://pixelcorners.lukeb.co.uk/?radius=5&multiplier=3 */
  clip-path: polygon(
    0px calc(100% - 9px),
    3px calc(100% - 9px),
    3px calc(100% - 6px),
    6px calc(100% - 3px),
    9px calc(100% - 3px),
    9px 100%,
    calc(100% - 9px) 100%,
    calc(100% - 9px) calc(100% - 3px),
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    calc(100% - 3px) calc(100% - 9px),
    100% calc(100% - 9px),
    100% 9px,
    calc(100% - 3px) 9px,
    calc(100% - 3px) 6px,
    calc(100% - 6px) 3px,
    calc(100% - 9px) 3px,
    calc(100% - 9px) 0px,
    9px 0px,
    9px 3px,
    6px 3px,
    3px 6px,
    3px 9px,
    0px 9px
  );
}

.input::placeholder {
  color: #a68868;
}

.composeTooltipLeft {
  left: 10px;
  bottom: 35px;
}

.composeTooltipRight {
  left: -15px;
  bottom: 40px;
}
